---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$pesticide-debug: false;
@import "pesticide";
@import "base.scss";
//@import "style";


$fontFamily:'Open Sans', sans-serif;
$colorGreenHeader:#008040;

// $sizeSmartPhone:26em; 		 /* 25em = *400px*/
// $sizeSmallScreen:43.5em; 	 /*696px*/
// $sizeNormalScreen:47em;		 /*752px*/
// $sizeBigScreen:51.25em;			 /*820px*/

// http://getbase.org/docs/grid.html
$sizeSmartPhone:719px; // Mobile devices (breakpoint set at max 719px width)
$sizeSmallScreen:980px; // Tablet devices (breakpoint set at max 980px width)
$sizeNormalScreen:1140px; // Desktop devices (breakpoint set at max 1140px width)
//$sizeBigScreen : bigger then normalscreen -> HD

#mobileonly{
    display: none;
    margin:0em;
}

@media only screen and (max-width: $sizeSmartPhone) {
    #mobileonly{
        height: 1.7em;
        display: block;
        font-size: 1.0em;
        font-weight: 300;
        text-align: center;

        a{
            text-decoration: none;
            color: black;
            border: 1px solid black;	
            padding-left: 0.3em;
            padding-right: 0.3em;
            padding-bottom: 0.1em;
            margin-left: 0.2em;
      }
  }
}  

body{
  height:100%;
  padding-bottom:60px;
}

body,h1,h2,h3,h4,h5,h6{
  font-family:$fontFamily ;
  font-weight: 400;
  color: #333333;
}

h1,h2,h3,h4,h5,h6{
  color: #111111;
}

header{
  z-index: 20000;
  top:0px;
  background-color: $colorGreenHeader;
  border-bottom: 1px #FFF solid;
  
  /*text-align: center;*/
  line-height: 5em;   
  
  opacity: 0.97;
  filter: alpha(opacity=97);/* For IE8 and earlier */
  
  height: 6em;
  padding: 1.8em; 
  
  @media only screen and (max-width: $sizeSmartPhone) {
    height: 4em;
    padding: 0.5em;
  }
}

.site-title{

  display: flex;
  justify-content: center;
  align-items: center;

  /*padding-top: 0.7em;*/
  
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFFFFF;
  
  @media only screen and (max-width: $sizeSmartPhone) {
    font-size: 0.7em;
  }
  
  img{
      @media only screen and (max-width: $sizeSmartPhone) {
        padding-right: 0.5em;
      }
      @media only screen and (min-width: $sizeSmartPhone +1) {
        padding-right: 0.8em;
      }
    }
}

a.site-title:hover{
  color: #FFFFFF;
}

nav{
    width: 100%;
    //margin-top: 4.1em;
    ul {
        padding: 0;
        margin: 0 auto;
        // width: 600px;
        // height: 40px;
    }
    li{
        display: block;
        border-bottom: 1px #000 solid;
        margin: 0px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: left;
        li{
            // padding-right: 1em;
            border-bottom: none;
            text-align: right;
        }
    }
    
    @media only screen and (max-width: $sizeSmartPhone) {
      // margin: 0em auto;
      padding-left: 0.3em;
      padding-right: 0.3em;
    }
}

section{
    // border-left: 1px #000 solid;
    
    @media only screen and (max-width: $sizeSmartPhone) {
      // margin: 0em auto;
      padding-left: 0.3em;
      padding-right: 0.3em;
      border-left: 0px ;
    }
    @media only screen and (min-width: $sizeSmartPhone + 1) {
      // margin: 4.1em auto;
    }
}

footer{
  border-top: 10px white solid;
  text-align: center;
  padding: 1em;
  background-color: $colorGreenHeader;
  color: #FFFFFF;
  position:absolute;
  bottom:0;
  a{
    color: #e6e6e6;
  }
  
  a:hover{
    color: #FFFFFF;
  }
}

a{
    text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

iframe{
    //google map
    height: 20em;
}

#banner{
  @media only screen and (max-width: $sizeSmartPhone) {
    
  }
  @media only screen and (min-width: $sizeSmartPhone + 1) {
    margin-bottom: 2em;
  }
  .boekheader{
    img{
      width: 100%;
      opacity: 0.85;
      filter: alpha(opacity=85);/* For IE8 and earlier */
      @media only screen and (min-width: $sizeSmartPhone + 1) {
        height: 250px;
      }
    }
  }
}

.portret{
  img{
    width: 100%;
    @media only screen and (min-width: 769px) { //415px
      width: 300px;
      float: right;
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }
}