<ul>
    <!-- <li><a href="{{ site.baseurl }}/">Groepspraktijk Vos</a></li> -->
    <li>Logopedie
        <ul>
            <li><a href="{{ site.baseurl }}/logopedie/steffie_vos.html">Steffie Vos</a></li> 
            <li><a href="{{ site.baseurl }}/logopedie/laurien_heylen.html">Laurien Heylen</a></li>
            <li><a href="{{ site.baseurl }}/logopedie/eveline_de_bock.html">Eveline De Bock</a></li>
            <li><a href="{{ site.baseurl }}/logopedie/Lauren_Van_der_Auwera.html">Lauren Van der Auwera</a></li>
        </ul>
            
    </li>
    <li>Kinesitherapie / Psychomotoriek
        <ul>
            <li><a href="{{ site.baseurl }}/kinesitherapie/noemi_coppers">Noémi Coppers</a></li>
        </ul>
    </li>
    <li>Diëtetiek
        <ul>
            <li><a href="{{ site.baseurl }}/dietetiek/eline_holvoet.html">Eline Holvoet</a></li>
        </ul>    
    </li>
    <li>Cursussen
    	<ul>
	    	<li><a href="{{ site.baseurl }}/kinesitherapie/typtien.html">typ10</a></li>
	    	<!-- <li><a href="{{ site.baseurl }}/cursussen/">zomercursus</a></li> -->
		</ul>
    </li>
    <li><a href="{{ site.baseurl }}/contact/">Contact en ligging</a></li>
</ul>
