<ul>
    <!-- <li><a href="{{ site.baseurl }}/">Groepspraktijk Vos</a></li> -->
    <li>Logopedie
        <ul>
            <li><a href="{{ site.baseurl }}/logopedie/steffie_vos.html">Steffie Vos</a></li> 
            <li><a href="{{ site.baseurl }}/logopedie/laurien_heylen.html">Laurien Heylen</a></li>
        </ul>
            
    </li>
    <li>Kinesitherapie / Psychomotoriek
        <ul>
            <li><a href="{{ site.baseurl }}/kinesitherapie/joke_vonckx.html">Joke Vonckx</a></li>
        </ul>
    </li>
    <li>Diëtetiek
        <ul>
            <li><a href="{{ site.baseurl }}/dietetiek/jindra_van_den_bossche.html">Jindra Van Den Bossche</a></li>
        </ul>    
    </li>
    <li>Life coaching / Counseling
        <ul>
            <li><a href="{{ site.baseurl }}/coaching/jago_crol.html">Jago Crol</a></li>
        </ul> 
    </li>
    <li><a href="{{ site.baseurl }}/cursussen/">Cursussen</a></li>
    <li><a href="{{ site.baseurl }}/contact/">Contact en ligging</a></li>
</ul>